# Ignore all .log files
*cpython*
*.log
*.pyc
**/data/

# Ignore all files in the build directory
chggen.egg-info/
test_scripts/
test_models/
lightning_logs/
.vscode/
.ipynb_checkpoints/
__pycache__/
chggen/pl_data/__pycache__/


# Ignore specific file
myconfig.properties

.DS_Store
